.table-wrapper {
    /* max-height: 50vh; */
    /* overflow-y: scroll; */
    border: 1px solid var(--gray);
    border-radius: 5px;
    padding: 5px;
}
.table  {
    position: relative;
    border-collapse: collapse;
}
.table thead {
    position: sticky;
    top: 0;
    background-color: var(--gray);
    
}
.table td, .table th {
    padding: 5px 15px;
}
.table tbody {
    overflow-y: scroll;
    max-height: 350px;
    display: block;
}
.table thead, .table tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}